<h1>Relação de Empresas</h1>

{{#each empresas}}
    <h2>Empresa</h2>
    Nome: {{dataValues.nome}}<br>
    CNPJ: {{dataValues.cnpj}}<br>
{{/each}}


{{#each tipo_pergunta}}
    <h2>Empresa</h2>
    Nome: {{dataValues.tipo}}<br>
{{/each}}